:root {
  /* Brand Colors */
  --main-color: #e94e1c;
  --main-color-light: #fff1ec;
  --main-color-dark: #b93e17;

  /* Secondary Colors */
  --secondary-color: #575756;
  --accent-color: #ffffff;

  /* Typography */
  --text-color: #333;
  --text-light: #666;
  --bg-color: #ffffff;
  --bg-alt-color: #f9f9f9;

  /* Layout & Design */
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --border-radius: 12px;

  /* Font */
  --font-main: "Cairo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
