/* Start Variables */
:root {
  /* Primary Brand Colors */
  --main-color: #dc747d;
  --main-color-light: #fbeaec;
  --main-color-dark: #b85a62;

  /* Secondary / Neutral Colors */
  --secondary-color: #f0f0f0;
  --text-color: #333;
  --text-light: #666;
  --bg-color: #ffffff;
  --bg-alt-color: #f9f9f9;

  /* Shadow & Border */
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  --border-radius: 10px;
}
/* End Variables */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
