/* Start Variables */
:root {
  /* Primary Brand Colors */
  --main-color: #dc747d;
  --main-color-light: #fbeaec;
  --main-color-dark: #b85a62;

  /* Secondary / Neutral Colors */
  --secondary-color: #f0f0f0;
  --text-color: #333;
  --text-light: #666;
  --bg-color: #ffffff;
  --bg-alt-color: #f9f9f9;

  /* Shadow & Border */
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  --border-radius: 10px;
}
/* End Variables */
.container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  background-color: var(--bg-color);
  padding: 30px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.title {
  margin-bottom: 20px;
  color: var(--main-color-dark);
}

.inputGroup {
  margin-bottom: 15px;
}

.input {
  padding: 10px;
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  font-size: 14px;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--main-color-dark);
}
